.imagens {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.tituloPrincipal {
    text-align: center;
}

.rodape{

    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
    
}